<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <textarea name="food-chat" id="food-chat" cols="50" rows="20"></textarea>
  <button id="food-choicer">음식 추천 받기</button>
  <script>
    const foodChoicerButton = document.querySelector('#food-choicer')
    const foodChoicerResult = document.querySelector('#food-chat')
    let lat = '';
    let lon = '';

    navigator.geolocation.getCurrentPosition((position) => {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
    });

    const baseURL = 'http://127.0.0.1:8000'
    const API = axios.create({
      baseURL: baseURL,
    })

    const FoodChoicerAPI = async () => {
      const response = await API.get(`${baseURL}/openAPI/foodchoicer/?lat=${lat}&lon=${lon}`)
      return response
    }

    foodChoicerButton.addEventListener("click", async ()=> {
      const data = await FoodChoicerAPI()
      console.log(data.data)
      for (key in data.data) {
        foodChoicerResult.value += `${key} : ${data.data[key]}\n`
      }
      
    })

  </script>
  
</body>
</html>