<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <button id="chat-delete">채팅방 삭제</button>
    <ul id="user-list"></ul>
    

    <script>
      const chatLog = document.querySelector('#chat-log');
      const chatDeleteButton = document.querySelector('#chat-delete');
      const userListWrapper = document.querySelector('#user-list');
      const current_location = window.location.href;
      const roomId = current_location[current_location.length-2];
      let user = {};
      let messages = {};
      let test = ''

      const baseURL = 'http://127.0.0.1:8000'
      const csrftoken = document.cookie.match(/csrftoken=([^;]+)/)[1];
      const API = axios.create({
        baseURL: baseURL,
      })
      API.defaults.headers.common['X-CSRFToken'] = csrftoken;
      const accessToken = localStorage.getItem('token')
      API.defaults.headers.common['Authorization'] = `token ${accessToken}`

      const connectWS = async () => {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type === "chat.message") {
              chatLog.value += (data.user.username + ":" + data.message + '\n');
            }
            else if (data.type === 'chat.user.join') {
              chatLog.value += (data.message.message + '\n')
              renderUserList()
            }
            else if (data.type === 'chat.user.leave') {
              chatLog.value += (data.message.message + '\n')
              if (user.user_username === data.user) {
                alert("강퇴당했습니다.")
                window.location.href = '/chat/'
              }
              renderUserList()
            }
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        chatSocket.onclose = (e) => {
          //console.log(e)
          const code = (e.code);
          if (code === 4040){
            alert("방이 삭제되었습니다.")
            window.location.href = '/chat/'
          }
          else {
            console.error('Chat socket closed unexpectedly')
          }
        };

        chatSocket.onerror = (e) => {
          alert("연결에 실패했습니다/")
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = (e) => {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = (e) => {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };
      }

      const getRoomData = async () => {
        try {
          const response = await API.get(`/chat/API/${roomId}`);
          return response.data;
        } catch (error) {
          alert(error.response.data)
          window.location.href = '/chat/'
          //console.error("Error fetching room data:", error);
        }
      };

      const getUserList = async () => {
        try {
          const response = await API.get(`/chat/API/${roomId}/user`);
          return response.data;
        } catch (error) {
          alert(error.response.data)
          window.location.href = '/chat/'
          //console.error("Error fetching room data:", error);
        }
      }

      const renderUserList = async () => {
        const userList = await getUserList();
        userListWrapper.innerHTML = '';
        for (const listed_user of userList){
          userListChild = document.createElement("li")
          userListChild.innerText = listed_user.user.username
          userDeleteButton = document.createElement("button")
          if (listed_user.user.username !== user.user_username){
            userDeleteButton.innerText = "강퇴"
            userDeleteButton.addEventListener("click", () => banUser(listed_user.user.username))
          }
          else {
            userDeleteButton.innerText = "나가기"
            userDeleteButton.addEventListener("click", exitRoom)
          }
            
          userListChild.append(userDeleteButton);
          userListWrapper.append(userListChild);
        }
      }

      const renderRoomData = async () => {
        const roomData = await getRoomData();
        user = roomData.user
        messages = roomData.messages;
        chatLog.value = ''
        for (message of messages){
          if (message.user){
            chatLog.value += (message.user.username + ":" + message.message + "\n")
          }
          else {
            chatLog.value += (message.message + "\n")
          }
          
        }
        chatLog.scrollTop = chatLog.scrollHeight;
        renderUserList();
        connectWS();
      }

      renderRoomData()

      const chatDelete = async () => {
        try {
          const response = await API.delete(`/chat/API/${roomId}`);
        } catch (error) {
          alert(error)
          return error;
        }
      }
      chatDeleteButton.addEventListener("click", chatDelete)

      const banUser = async (target_username) => {
        const data = {target_username:target_username}
        try {
          const response = await API.post(`/chat/API/${roomId}/user/`, data);
          return response.data;
        } catch (error) {
          alert(error.response.data)
          window.location.href = '/chat/'
          //console.error("Error fetching room data:", error);
        }
      }

      const exitRoom = async () => {
        try {
          const response = await API.delete(`/chat/API/${roomId}/user/`);
          window.location.href = '/chat/'
        } catch (error) {
          alert(error.response.data)
          //window.location.href = '/chat/'
          //console.error("Error fetching room data:", error);
        }
      }

    </script>
</body>
</html>