<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <button id="chat-delete">채팅방 삭제</button>

    </form>

    <script>
      const chatLog = document.querySelector('#chat-log')
      const chatDeleteButton = document.querySelector('#chat-delete')
      let roomId = '';
      let user = {};
      let messages = {};

      const baseURL = 'http://127.0.0.1:8000'
      const csrftoken = document.cookie.match(/csrftoken=([^;]+)/)[1];
      const API = axios.create({
        baseURL: baseURL,
      })
      API.defaults.headers.common['X-CSRFToken'] = csrftoken;

      const connectWS = async () => {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type === "chat.message") {
              chatLog.value += (data.user.username + ":" + data.message + '\n');
            }
            else if (data.type === 'chat.user.join') {
              chatLog.value += (data.message.message + '\n')
            }
            else if (data.type === 'chat.user.leave') {
              chatLog.value += (data.message.message + '\n')
            }
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        chatSocket.onclose = (e) => {
          //console.log(e)
          const code = (e.code);
          if (code === 4040){
            alert("방이 삭제되었습니다.")
            window.location.href = '/chat/'
          }
          else {
            console.error('Chat socket closed unexpectedly')
          }
        };

        chatSocket.onerror = (e) => {
          alert("연결에 실패했습니다/")
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = (e) => {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = (e) => {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };
      }
      
      const getRoomData = async () => {
        const current_location = window.location.href;
        const room_id = current_location[current_location.length-2];
        try {
          const response = await API.get(`/chat/API/${room_id}`);
          return response.data;
        } catch (error) {
          alert(error.response.data)
          window.location.href = '/chat/'
          //console.error("Error fetching room data:", error);
        }
      };

      const loadRoomData = async () => {
        const roomData = await getRoomData();
        roomId = roomData.room_id
        user = roomData.user
        messages = roomData.messages;
        chatLog.value = ''
        for (message of messages){
          if (message.user){
            chatLog.value += (message.user.username + ":" + message.message + "\n")
          }
          else {
            chatLog.value += (message.message + "\n")
          }
          
        }
        chatLog.scrollTop = chatLog.scrollHeight;
        connectWS();
      }

      loadRoomData()

      const chatDelete = async () => {
        try {
          const response = await API.delete(`/chat/API/${roomId}`);
        } catch (error) {
          alert(error)
          return error;
        }
      }
      chatDeleteButton.addEventListener("click", chatDelete)

    </script>
</body>
</html>