<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_id|json_script:"room-id" }}
    {{ user|json_script:"user" }}
    {{ messages|json_script:"messages" }}
    <script>
        const roomId = JSON.parse(document.getElementById('room-id').textContent);
        const user = JSON.parse(document.getElementById('user').textContent);
        const messages = JSON.parse(document.getElementById('messages').textContent);
        const chatLog = document.querySelector('#chat-log')

        for (message of messages){
          chatLog.value += (message.user.username + ":" + message.message + "\n")
        }

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chatLog.value += (data.user.username + ":" + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
                'room_id': roomId,
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>