<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <form id="userUpdate" method="post">
        {% csrf_token %}
        <h1>프로필</h1>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" /><br /><br />

        <label for="nickname">닉네임:</label>
        <input type="text" id="username" name="nickname" value="{{ user.username }}" placeholder="닉네임을 입력해 주세요!" required /><br /><br />

        <label for="password">비밀번호 확인:</label>
        <input type="password" id="password" name="password" /><br /><br />
        <label for="address">주소:</label>
        <input type="text" id="sample6_postcode" name="postcode" placeholder="우편번호">
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" id="sample6_address" name="address" placeholder="주소"><br>
        <input type="text" id="sample6_detailAddress" name="detail_address" placeholder="상세주소">
        <input type="text" id="sample6_extraAddress" name="extra_address" placeholder="참고항목">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
        
                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수
        
                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }
        
                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("sample6_extraAddress").value = extraAddr;
                        
                        } else {
                            document.getElementById("sample6_extraAddress").value = '';
                        }
        
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress").focus();
                    }
                }).open();
            }
        </script>
        <input type="submit" value="수정하기" class="btn btn-primary m-2" />
    </form>
    <a href="{% url 'user:changepassword' %}" class="btn btn-primary m-2">비밀번호 수정</a>

    <form id="userDelete" method="post">
        {% csrf_token %}
        <input type="submit" value="계정 삭제하기" class="btn btn-primary m-2" />
    </form>
</body>
<script>
    document.querySelector("#userUpdate").addEventListener("submit", function (e) {
        e.preventDefault();

        let address = document.querySelector("#sample6_address").value;
        const pattern = /^\d+/;
        const match = address.match(pattern);
        if (match) {
        address = match[0];


    }

        const userData = {
            "email": document.querySelector("#email").value,
            "username": document.querySelector("#username").value,
            "address": address
        }

        if (document.querySelector("#password").value) {
            userData.password = document.querySelector("#password").value;
        }

        fetch("/user/profile/", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify(userData)
        })
            .then(res => {
                if (res.status !== 200) {
                    return Promise.reject(res);
                }
                return res.json();
            })
            .then(data => {
                alert(data.message)
                window.location.href = data.redirect_url
            }).catch(error => {
                if (typeof error.json === "function") {
                    error.json()
                        .then(jsonError => {
                            let errorMsg = "";
                            for (const [cause, desc] of Object.entries(jsonError)) {
                                errorMsg = errorMsg.concat(`${cause}: ${desc}\n`);
                            }
                            alert(errorMsg);
                        })
                        .catch((e) => {
                            alert("알 수 없는 에러 발생! 콘솔을 확인하세요.");
                            console.error(e);
                        })
                } else {
                    alert("알 수 없는 에러 발생! 콘솔을 확인하세요.");
                    console.error(e);
                }
            });
    });

    document.querySelector("#userDelete").addEventListener("submit", function (e) {
        e.preventDefault();
        if (confirm("정말로 계정을 삭제하시겠습니까?")) {
            fetch("/users/deleteUser/", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                }
            })
                .then(res => res.json())
                .then(data => {
                    alert(data.message);
                    window.location.href = "/users/signin/";
                });
        }
    });
</script>
</html>