{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h2>{% trans '재목:' %} {{ post_title }}</h2>
    <p>{% trans '카테고리: ' %} {{ post_category }}</p>
    <p>{% trans '작성자:' %} {{ post_writer }}</p>
    <p>{% trans '작성시간:' %} {{ post_created_at }}</p>
    <p>{% trans '모집인원' %} {{ post_target_number }} {% trans ' / ' %} {{ post_join_number }}</p>

      <form action="{% url 'blog:participants' pk=post_id %}" method="post">
        {% csrf_token %}
        <button type="submit" name="join" value="True">참여하기</button>
        <button type="submit" name="cancel" value="True">참여 취소</button>
    </form>

    

    {% if post_writer == request.user %}
        <a href="{% url 'blog:edit' pk=post_id %}" class="btn">{% trans '수정' %}</a>
        <form action="{% url 'blog:delete' pk=post_id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="{% trans '삭제' %}" class="btn">
        </form>
    {% endif %}

    <p>{{ post_content }}</p>

{% endblock %}