{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
    <h2 class="main-title">게시판</h2>
    <div class="board-top">
        <p class="main-desc">    </p>
  
        <div>
        <form action="" method="get">
        <label for="category">카테고리 선택:</label>
        <select id="category" name="category">
            <option value="">전채</option>
            <option value="족발">족발</option>
            <option value="보쌈">보쌈</option>
            <option value="찜,탕,찌개">찜 탕 찌개</option>
            <option value="돈까스,회,일식">돈까스 회 일식</option>
            <option value="피자">피자</option>
            <option value="고기구이">고기구이</option>
            <option value="양식">양식</option>
            <option value="치킨">치킨</option>
            <option value="중식">중식</option>
            <option value="아시안">아시안</option>
            <option value="백반,죽,국수">백반 죽 국수</option>
            <option value="도시락">도시락</option>
            <option value="분식">분식</option>
            <option value="카페,디저트">카페 디저트</option>
            <option value="페스트푸드">페스트푸드</option>
            {% for category in categories %}
                <option value="{{ post.category }}" {% if post.category == category %}selected{% endif %}>{{ post.category }}</option>
            {% endfor %}
          </select>
          <button type="submit">필터 적용</button>
        </form>
        </div>
      </div>


    {% if posts %}    
    <table class="table list">
        <colgroup>
            <col style="width: 10%">            
            <col style= "width: 50%">
            <col style="width: 10%">
            <col style="width: 20%">
            <col style="width: 10%">
          </colgroup>
          
        <thead>
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>카테고리</td>
                    <td>작성자</td>                                        
                    <td>작성일</td>
                    
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.pk }}</td>
                        <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.writer }}</td>
                        <td>{{ post.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
    <br/>
<br/>
<div class="board-bottom">
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if posts.has_previous %}        
            <a class="page-link" href="?page={{ posts.previous_page_number }}"><img src={% static 'prev.png' %} alt="다음"></a>
        {% else %}
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src={% static 'prev.png' %} alt="다음"></a>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in posts.paginator.page_range %}
        {% if page_number == posts.number %}
        
            <a class="num active" href="?page={{ page_number }}">{{ page_number }}</a>
        {% else %}
            <a class="num" href="?page={{ page_number }}">{{ page_number }}</a>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if posts.has_next %}
        
            <a class="page-link" href="?page={{ posts.next_page_number }}"><img src={% static 'next.png' %} alt=""></a>
        {% else %}
        
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src={% static 'next.png' %} alt=""></a>
        {% endif %}
    </ul>

<!-- 페이징처리 끝 -->

    <div class="btn-group">
        <form action="{% url 'blog:write' %}" method="get">
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ request.GET.next }}">
            <input type="submit" value="글 작성" class="btn">
        </form>
      </div>
    </div>

</div>

{% endblock %}